* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container {
    margin: 0 auto;
}

.profile{
    background-color: rgb(148, 125, 105);
    padding-bottom: 2%;
}

img{
    width: 620px;
    height: 600px;
}

.img{
    grid-column-start: 2;
    margin-top: 5%;
    margin-left: 10%;
}

.header{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Franklin Gothic';
    margin: 0;
    padding: 0;
    background-color: rgb(148, 125, 105);
}

html {
    scroll-behavior: smooth; 
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0px auto;
    padding-top: 3%;
}

.nav:hover {
    font-size: 27px;
    opacity: 0.4;
}

a{
    text-decoration: none;
    color: black;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2);
}

.text{
    grid-column-start: 1;
    margin-left: 15%;
    text-transform: uppercase;
}

#great-text{
    font-size: 50px;
    font-family: 'Franklin Gothic';
    word-spacing: 20px;
    margin-top: 20%;
    font-weight: 400;
}

.description{
    font-size: 35px;
    font-family: 'Franklin Gothic';
    word-spacing: 10px;
    font-weight: 400;
}

.credo{
    font-size: 27px;
    word-spacing: 10px;
    font-weight: 400;
}

.title{
    text-transform: uppercase;
    font-family: 'Franklin Gothic';
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(148, 125, 105);
}

.contact-list{
    list-style: none;
    font-family: 'Franklin Gothic';
    line-height: 30px;
    font-size: 20px;
    margin-left: 20%;

}

.contact-title{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Franklin Gothic';
    margin-left: 20%;
    border-radius: 50px;
    background-color: rgb(148, 125, 105);
    width: 130px;
    display: flex;
    justify-content: center;
}

.list{
    list-style: none;
    font-family: 'Franklin Gothic';
    line-height: 30px;
    font-size: 20px;
}

.my-skills{
    display: grid;
    grid-template-columns: repeat(4);
    margin-bottom: 5%;
}

.skills{
    grid-column-start: 2;
}

.personality{
    grid-column-start: 3;
}

.skills-text{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Franklin Gothic';
    border-radius: 50px;
    background-color: rgb(148, 125, 105);
    width: 130px;
    display: flex;
    justify-content: center;
}

.p{
    border-radius: 50px;
    background-color: rgb(148, 125, 105);
    width: 180px;
    display: flex;
    justify-content: center;
}

.code-title{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Franklin Gothic';
    margin-left: 20%;
    border-radius: 50px;
    background-color: rgb(148, 125, 105);
    width: 180px;
}

.text-code{
    font-family: 'Franklin Gothic';
    font-size: 25px;
    margin-left: 20%;
    width: 60%;
}

.ex{
    font-family: 'Franklin Gothic';
    font-size: 25px;
    margin-left: 20%;
}

.code-1, .code-2{
    font-size: 20px;
    background-color: rgb(243, 243, 243);
}

.education-title, .languages-title{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Franklin Gothic';
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 50px;
    background-color: rgb(148, 125, 105);
    width: 140px;
}

.education-text, .languages-list{
    font-family: 'Franklin Gothic';
    font-size: 25px;
    margin-left: 20%;
}

.year{
    font-family: 'Franklin Gothic';
    font-size: 25px;
}
.git{
    width: 50px;
    height: 50px;
}

.rs{
    width: 100px;
    height: 50px;
}

.info{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

