* {
    box-sizing: border-box; 
}

html{
  scroll-behavior: smooth;
  overflow: scroll;
}



.preview{
    background-image: url(assets/img/garrett-parker.jpg);
    height: 765px;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0;
    flex-direction: column;
    display: flex;
    background:#FFFFFF;
}

.header{
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
    width: 100%;
    position: absolute;
}

.logo{
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    gap: 176px;
    align-items: center;
    margin-top: 20px;
}

.navbar{
    display: inline-flex;
    padding: 0px;
    gap: 42px;
}

.navbar-item{
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 3;
}

.navbar-item:hover{
  text-decoration: overline;
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.2s;
}

.login{
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    width: 103px;
    height: 41px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.btn:hover{
  background: transparent;
  transition-duration: .5s;
}

.container-preview{
    position: absolute;
    margin-left: 120px;
    margin-top: 32px;
    height: 422px;
}

.start:hover{
  background: #F2785C;
  transition-duration: .5s;
}

.explore-text {
    width: 892px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
}

.receive-text{
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: -30px;
}

form{
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input::-webkit-input-placeholder {
    color: #F2785C;
    font-style: italic; 
    font-weight: 400;
    font-size: 24px;
    font-family: 'Aleo';
}

.step-1:hover{
  transform-origin: 50% 50%;
  animation: jump 1s linear alternate infinite;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0);}
  40%  {transform: translate3d(0,30%,0);}
}

.btn-destinations:hover{
  background: #F2785C;
  transition-duration: .5s;
}

.see-more:hover{
  background: #F2785C;
  transition-duration: .5s;
}
input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 560px;
    height: 27px;
}

.start{
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    height: 59px;
}

.steps{
    height: 247px;
}

.three-steps, .popular{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
}

.restangle{
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.three-steps-icon{
    display: flex;
    gap: 200px;
    height: 154px;
    margin-top: 40px;
}

.container-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.step-1{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-destinations{
    display: flex;
    justify-content: center;
    margin-top: 97px;
}

.carousel-cell {
  width: 800px;
  height: 800px;
  margin-right: 60px;
  border-radius: 16px;
  background-position: center center;
  background-size: cover;
}

.carousel-cell:nth-child(1){
  background-image: url(assets/img/pic1.jpg);
}

.carousel-cell:nth-child(2){
  background-image: url(assets/img/pic2.jpg);
}

.carousel-cell:nth-child(3){
  background-image: url(assets/img/pic3.jpg);
}

.flickity-page-dots .dot{
  background: #F2785C;
  width: 20px;
  height: 20px;
  margin: -23px 8px;
}

.btn-destinations{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  margin-left: 647px;
  margin-top: 80px;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.btn-destinations::before, .see-more::before{
  content: url(assets/img/arrow.svg);
  margin-top: 5px;
}

.container-stories{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.travel-stories{
  height: 1331px;
  background: url(assets/img/Rectangle\ 27.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.white{
  position: absolute;
  width:100%;
  height: 1270px;
  background: rgba(255, 255, 255, 0.7);
}

.story-title{
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}

.story-text{
  width: 780px;
  height: 184px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #0D606F;
}

.read-more{
  text-decoration:underline;
  color: #0D606F;
  margin-top: 0px;
}

.img-1{
  position: absolute;
  left: 120px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  width: 400px;
  height: 250px;
}

.img-1:hover{
  width: 420px;
  height: 270px;
  transition: 1s;
}

.story-1-block{
  margin-left: 560px;
}

.see-more{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.btn-story-see-more{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container{
  position: relative;
  display: flex;
  margin-top: -45px;
  align-items: center;
  justify-content: center;
  gap: 300px;
  height: 30px;
}

.footer-text{
  height: 21px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 490px;
}

.link-youtube{
  content: url(assets/svg/youtube.svg);
}

.link-git{
  content: url(assets/svg/git.svg);
  width: 30px;
}

.link-rs{
  content: url(assets/svg/rs.svg);
  width: 50px;
}

.links{
  display: flex;
  gap: 24px;
}

@media (max-width: 391px) {

  html{
    overflow: hidden;
  }
  .container{
    width: 390px;
    margin: 0 auto;
    height: 1475px;
  }

  .preview{
    width: 390px;
    height: 251px;
  }

  .header{
    background: none;
    box-shadow: none;
  }

  .navbar{
    display: none;
  }

  .logo{
    width: 30px;
    height: 30px;
    color: transparent;
  }

  .explore-text, .receive-text{
    display: none;
  }

  form{
    margin-top: 115px;
    width: 360px;
    height: 48px;
    margin-left: -105px;
  }

  .start{
    position: absolute;
    width: 92px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    left: 155px;
  }

  .plan{
    position: absolute;
    font-weight: 500;
    font-size: 11px;
    width: 74px;
    display: flex;
    align-items: center;
  }

  input::-webkit-input-placeholder {
    width: 226.01px;
    height: 15px;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 16.55px;
    top: 6.17px;
  }

  .three-steps, .popular{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #F2785C;
}

.restangle{
    width: 70px;
    height: 70px;
    background: #F2785C;
    border-radius: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.three-steps-icon{
    display: flex;
    gap: 75px;
    height: 154px;
    margin-top: 20px;
}

.txt{
  font-size: 10px;
  color: #0D606F;
}

.one{
  width: 80px;
}

.two{
  width: 111px;
}

.three{
  width: 80px;
}

.step-1{
  width: 50px;
}

img[alt="bike"]{
  width: 40px;
  height: 40px;
}

img[alt="shedule"]{
  width: 40px;
  height: 40px;
}

img[alt="plain"]{
  width: 40px;
  height: 40px;
}
.container-steps{
  width: 360px;
  height: 153px;
  margin-top: 20px;
}
.carousel-cell {
  width: 360px;
  height: 210px;
}

.container-destinations{
  margin-top: -70px;
}

.flickity-page-dots .dot{
  background: #F2785C;
  width: 7px;
  height: 7px;
  margin: 35px 3px;
}

.flickity-prev-next-button{
  background: transparent;
  color: #F2785C;
}

.btn-destinations{
  width: 92px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  font-size: 11px;
}

.btn-destinations-container{
  margin-left: -455px;
  margin-top: -70px;
}

.btn-destinations::before, .see-more::before{
  content: url(assets/svg/mini.svg);
  margin-top: -10px;
  margin-left: -20px;
}

.container-stories{
  margin-top: 10px;
}

.travel-stories{
  width: 390px;
  height: 693px;
  background: url(assets/img/27.jpg);
  background-repeat: no-repeat;
}

.white{
  width: 390px;
  height: 628px;
}

.story-title{
  position: relative;
  top: -10px;
  font-weight: 700;
  font-size: 11px;
}

.story-text{
  position: relative;
  top: -25px;
  width: 195px;
  height: 82px;
  font-weight: 400;
  font-size: 9px;
}

.img-1{
  position: absolute;
  left: 15px;
  width: 155px;
  height: 130px;
}

.img-1:hover{
  width: 165px;
  height: 140px;
  transition: 1s;
}

.story-1-block{
  margin-left: 180px;
}

.see-more{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 92px;
  height: 30px;
  font-weight: 500;
  font-size: 11px;
}

.btn-story-see-more{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container{
  margin-left: -30px;
}

.footer-text{
  display: none;
}

.login{
  display: none;
}

}

